i.icon {
  margin-right: 6px;
}

i.icon::before {
  font-style: normal;
  transition-duration: 0.2s;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  padding: 0px;
  width: 2ch;
  height: 2ch;
}

i.icon-caret::before {
  content: '\2B9E';
  color: black;
}

i.icon-caret.down::before {
  transform: rotate(90deg);
}

i.icon-folder::before {
  content: '\1F4C1';
}

i.icon-folder.down::before {
  content: '\1F4C2';
}

i.icon-trash::before {
  content: '🗑️';
  font-size: 120%;

  border: solid #222 2px;
  padding: 3px;
  background-color: #3f3f3f;
  border-radius: 10px;
}

i.icon-palette::before {
  content: '🎨';
}

i.icon-paint-brush::before {
  content: '🖌️';
}

i.icon-pen::before {
  content: '✒️';
}

i.icon-pencil::before {
  content: '✏️';
}

i.icon-red-cross::before {
  content: '❌';
}

i.icon-triangle-down::before {
  content: '🔽';
}

i.icon-triangle-right::before {
  content: '▶️';
}

i.icon-triangle-up::before {
  content: '🔼';
}

i.icon-arrow-down::before {
  content: '⬇️';
}

i.icon-arrow-up::before {
  content: '⬆️';
}

i.icon-inbox::before {
  content: '📥';
}

i.icon-outbox::before {
  content: '📤';
}

i.icon-notepad::before {
  content: '📝';
}